<div class="navContainer">
    <h3>Portfolio handler</h3>
    <div class="links">
        <h5><a href="project">Projects</a></h5>
        <h5><a href="newProject">New project</a></h5>
    </div>
</div>