* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    width: 60%;
    margin: auto;
}

.navContainer {
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

h3 {
    grid-column: 1/2;
    margin-top: 20px;
}

.links {
    grid-column: 5/-1;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    outline: none;
}